:root {
  --bg-color: rgb(247, 249, 255);
  --custom-blue: rgb(37, 51, 248);
  --custom-blue2: rgb(112, 126, 253);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.profile {
  display: grid;
  height: 800px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.profile::after {
  content: "";
  display: block;
  position: absolute;
  top: 30;
  left: 0;
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-image {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 400px;
  height: 400px;
  border: white 3px solid;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 150px;
  z-index: 1;
}

.profile-info {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.profile-name {
  font-size: 6em;
  font-family: fantasy;
  color: rgb(255, 254, 254);
  text-shadow: 5px 5px black;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  z-index: 1;
  position: relative;
  top: -150px;
}

.profile .btn {
  padding: 5px 30px 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  z-index: 1;
  transition: 0.3s;
  position: relative;
  top: -150px;
}

.profile .btn:hover {
  background-color: gray;
}

.profile .about {
  grid-row-start: 2;
  grid-row-end: 2;
  width: 110px;
  border: 2px solid white;
  color: whitesmoke;
  /* background-color: rgb(252, 252, 252); */
  background: transparent;
  background-image: url(../assets/icons/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: 80px;
  background-size: 9px;
}

.profile .resume {
  grid-row-start: 2;
  grid-row-end: 2;
  width: 175px;
  border: 2px solid white;
  color: rgb(252, 252, 252);
  /* background-color: var(--custom-blue2); */
  background: transparent;
  background-image: url(../assets/icons/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: 145px;
  background-size: 9px;
}

.bio {
  width: 100%;
  height: 100%;
  position: relative;
}

.bio-info {
  width: 720px;
  margin: 250px auto;
}

.bio-icon {
  position: absolute;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}

.coffee {
  top: 30px;
  left: 15%;
  background-image: url(../assets/icons/coffee.svg);
}

.tea {
  top: 150px;
  right: 20%;
  background-image: url(../assets/icons/tea.svg);
}

.book {
  top: 500px;
  left: 60%;
  background-image: url(../assets/icons/book.svg);
  opacity: 0.3;
}

.laptop {
  top: 300px;
  left: 5%;
  background-image: url(../assets/icons/laptop.svg);
  opacity: 0.4;
}

.badminton {
  top: 450px;
  left: 25%;
  background-image: url(../assets/icons/badminton.png);
  opacity: 0.4;
}

.cooking {
  top: 100px;
  right: 35%;
  background-image: url(../assets/icons/cooking.png);
  opacity: 0.4;
}

.projects {
  background-color: rgb(245, 245, 245);
}

.projects h1 {
  text-align: center;
  margin: 70px 0 50px;
}

.project-list {
  width: 65%;
  min-width: 800px;
  margin: 0px auto 100px;
}

.project-list h4 {
  padding: 0;
  margin: 10px 0 3px;
}

.project-list p {
  padding: 0;
  margin: 0 0 15px;
}

.project-list img {
  display: block;
  margin: 30px auto;
  height: auto;
  width: 65%;
  min-width: 600px;
  border: 1px solid black;
}

.project-detail {
  padding: 5px 25px 30px;
  max-height: 650px;
  overflow-y: auto;

  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

/* .project-detail::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
} */

.accordion {
  background-color: white;
  border-top: solid rgba(185, 185, 185, 0.5);
  border-left: solid rgba(185, 185, 185, 0.5);
  box-shadow: 2px 3px 3px rgb(185, 185, 185);
  cursor: pointer;
  padding: 18px 25px;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: rgb(233, 233, 233);
}

.accordion:after {
  content: "\002B";
  color: black;
  font-weight: bolder;
  font-size: 18px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  margin: 14px 10px 20px;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
  background-color: white;
  border-radius: 3px;
}

.skillset h1 {
  text-align: center;
  margin: 70px 0 50px;
}

.skillset-grid {
  height: 300px;
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 40px;
}

.skillset-grid div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: rgb(37, 37, 37);
}

.contact-info {
  text-align: center;
  color: whitesmoke;
}

.contact-info h3 {
  padding: 30px 0 10px;
  margin: 0;
}

.contact-info p {
  margin: 5px;
}

.contact-info a {
  color: whitesmoke;
}

.contact-info a:hover {
  color: rgb(184, 184, 184);
}
